@font-face {
    font-family: 'title';
    src: url('./fonts/fontspring-demo-introrustg-base2line-webfont.woff2') format('woff2'),
         url('./fonts/fontspring-demo-introrustg-base2line-webfont.woff') format('woff');
         font-weight: normal;
         font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: rgb(18, 32, 4);
}
.header {
    font-family: 'title';
    font-size: 20px;
    display: flex;
    color: whitesmoke;
    background-color: rgb(37, 31, 31);
    justify-content: center;
    border: solid rgb(45, 58, 10);
    border-left: 0cap;
    border-right: 0cap;
    padding: 20px;
}
.sidebar {
    position: absolute;
    height: 100vh;
    width: 80px;
    background-color: rgb(37, 31, 31);
    overflow: hidden;
    transition: .5s;
}
.sidebar:hover {
    width: 270px;
}
.sidebar ul li {
    list-style: none;
}
.sidebar ul li a{
    text-decoration: none;
    position: relative;
    white-space: nowrap;
    display: flex;
    color: whitesmoke;
}
.sidebar ul li a .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    height: 60px;
    font-size: 1.5em;
}
.sidebar ul li a .side-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 1.3em;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sidebar ul li.logo {
    margin-bottom: 40px;
}
.sidebar ul li:hover {
    border: 1px solid rgb(175, 167, 167);
    border-radius: 8px;
    background-color: whitesmoke;
}
.sidebar ul li a:hover {
    color: rgb(37, 31, 31);
}
.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}